/* ====== A4 REAL ====== */
.page {
  width: 210mm;
  height: 297mm;
  margin: 0 auto;
  box-sizing: border-box;
}

/* ====== IMPRESIÓN ====== */
@media print {
  body {
    margin: 0;
    -webkit-print-color-adjust: exact;
  }

  @page {
    size: A4 portrait;
    margin: 0;
  }
}
